// some default style
html {
  height: 100%;
}

body {
  background-color: @background;
  font-family: @ftPrimary;
  height: 100%;
}

h1, h2, h3, h4, h5 {
  font-family: @ftSecondary;
  color: @secondary;
}

h1, h2 {
  font-weight: normal;
}

h1 {
  margin: 30px 0 50px 0;
}

h2 {
  text-transform: uppercase;
  margin-top: 20px;
  font-weight: normal;
}

h3 {
  font-size: 16px;
}

a {
  color: @primary;
}


.adminContainer {
  margin-top: 50px;
}

// footer
footer#footer {
  border-top: 1px solid @grey;
  margin-top: 80px;

  .blockOdd {

    ul {
      margin-bottom: 0;
      &.pull-left {
        li {
          font-family: @ftSecondary;
          font-style: 11px;
          &#mentions {
            font-style: italic;
          }
          img {
            height: 20px;
          }

          a {
            padding: 5px 10px;
            display: inline-block;
          }
          &:first-child {
            padding-left: 0;
          }
        }
      }
      &.pull-right {
        li {
          a {
            text-transform: uppercase;
            text-decoration: none;
            text-align: center;
            display: inline-block;
            padding: 5px 5px;
            width: 25px;
            i {
              font-size: 20px;
            }

            &:hover {
              .circle;
              background-color: @secondary;
            }
          }
          &:last-child {
            padding-right: 0;
          }
        }
      }
    }
  }
}

// CMS tool bar
#cmsbar {
  position: fixed;
  top: 11px;
  right: 10px;
  z-index: 9999;
}
