// some default style
html {
  height: 100%;
}

body {
  background-color: @background;
  font-family: @ftPrimary;
  height: 100%;

  section.container {
    background-color: @white;
    box-shadow: 1px 0 10px #888, -1px 0 10px #888;

    header {
      background: url("/public/images/header.png") no-repeat scroll left top @white;
      box-shadow: 1px 0 10px #888;

      #base-line {
        height: 219px;
        div {
          width: 375px;
          min-height: 94px;
          float: right;
          margin: 60px 50px 0 0;
          background: url("/public/images/libertic.png") no-repeat scroll right bottom @white;

          p {
            display: block;
            text-align: justify;
            width: 300px;
            margin-bottom: 35px;
          }
        }
      }

      .navbar {
        background: url("/public/images/header.png") no-repeat scroll left -220px @primary;
        display: table;
        padding-top: 30px;

        // primary menu
        ul {
          padding-left: 30px;
          li {
            a {
              color: @black;
              text-transform: uppercase;
              font-weight: bold;
              font-size: 1.2em;
              line-height: 30px;
            }
          }
        }

        #search {
          margin: 0;
          padding-right: 15px;

          label {
            display: none;
          }
          .input-append {
            margin-bottom: 0;

            input {
              border-radius: 0;
            }
            button.btn {
              border-radius: 0;
              background-color: @white;
            }
          }
        }
      }
      &:after {
        clear: both;
      }

    }

  }
}

h1, h2, h3, h4, h5 {
  font-family: @ftSecondary;
  color: @secondary;
}

// CMS tool bar
#cmsbar {
  position: fixed;
  top: 11px;
  right: 10px;
  z-index: 9999;
}
