#{extends 'main.html' /}
#{set mainClass:'home' /}
#{set title:'Accueil' /}
#{set description:'' /}
#{set keywords:'' /}

<section id="blog" class="block">
    <div class="container">
        <h2>
            <a href="@{cms.Frontend.rss("blog")}" title="Flux RSS">
                <i class="icon-rss"></i>
            </a>
            Mes derniers tickets
        </h2>
        <div class="row-fluid">
            #{list items:blogs, as:'blog'}
                <a href="@{cms.Frontend.show(blog.name)}" title="${blog.title}">
                    <div>
                        <h3>${blog.title}</h3>
                        <div>
                            ${blog.description.raw()}
                        </div>
                    </div>
                </a>
            #{/list}
        </div>
    </div>
</section>

<section id="projects" class="block">
    <div class="container">
    #{cms.display 'projects'}
        <div class="row-fluid">
            <div class="box span6">
                <h3>Mon premier projet</h3>
                <div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In schola desinis.<strong>Duo Reges: constructio interrete.</strong> <em>Quonam, inquit, modo?</em> Quod non faceret, si in voluptate summum bonum poneret. <em>Numquam facies.</em> Quod autem in homine praestantissimum atque optimum est, id deseruit.</p>
                </div>
            </div>
            <div class="box span6">
                <h3>Mon premier projet</h3>
                <div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In schola desinis.<strong>Duo Reges: constructio interrete.</strong> <em>Quonam, inquit, modo?</em> Quod non faceret, si in voluptate summum bonum poneret. <em>Numquam facies.</em> Quod autem in homine praestantissimum atque optimum est, id deseruit.</p>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="box span6">
                <h3>Mon premier projet</h3>
                <div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In schola desinis.<strong>Duo Reges: constructio interrete.</strong> <em>Quonam, inquit, modo?</em> Quod non faceret, si in voluptate summum bonum poneret. <em>Numquam facies.</em> Quod autem in homine praestantissimum atque optimum est, id deseruit.</p>
                </div>
            </div>
            <div class="box span6">
                <h3>Mon premier projet</h3>
                <div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In schola desinis.<strong>Duo Reges: constructio interrete.</strong> <em>Quonam, inquit, modo?</em> Quod non faceret, si in voluptate summum bonum poneret. <em>Numquam facies.</em> Quod autem in homine praestantissimum atque optimum est, id deseruit.</p>
                </div>
            </div>
        </div>
    #{/cms.display}
    </div>
</section>

<section id="resources" class="block">
    <div class="container">
        #{cms.display 'projects'}
            <div class="row-fluid">
                <div class="span12">

                </div>
            </div>
        #{/cms.display}
    </div>
</section>